


.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {

  font-size: 18px;
  /* Center slie text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
 
 
 
 
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
